h1 {
  font-family: 'Righteous', sans-serif;
  color: salmon;
  background-color: black;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  padding: 1em;
}

nav {
  color: black;
  background-color: salmon;
  border: 25px;
  padding: 0.75em;
}

header nav li {
  display:inline-block;
  margin-left: 50px;
}

.google-font {
  font-family: 'Righteous', sans-serif;
  font-size: 1.5em;
}


footer {
  background-color: gray;
  text-align: center;
  padding: 2em;
}



table * {
  border: 1px solid;
  padding: .5em;
}

table {
  background-color: grey;
  margin: 0 auto; /* This centers the table horizontally */
  text-align: center; /* Reset the text alignment if needed */
}

table tbody {
  background-color: salmon;
}

table {

}

